.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
myenv/
venv/
.myenv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
uploads/*
fbAdminConfig.json
all_anime_detail_onehot.csv
all_anime_detail_onehot2.csv
all_anime_detail_onehot3.csv
all_anime_detail_onehot4.csv
df_anime_detail_firebase.csv
df_anime_detail_firebase2.csv
df_anime_detail_json.csv
df_anime_100_features.csv
kmeans_235.joblib

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover